.title {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Orbitron", sans-serif;
}

.title h1 {
    display: flex;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title i {
    margin: 0;
    font-size: 32px;
}

.todo-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-task {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}
.add-task input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    
}
.add-task button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #55c36f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Task-list {
    list-style-type: none;
    padding: 0;
}

.Task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color:#ffff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.Task-list ul {
    list-style-type: none;
    padding: 0;
}

.Task-list button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(195, 85, 85);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.completed {
  text-decoration: line-through;
  color: #888;
}
